<div class="w-100 p-3">
<h1>The Answer</h1>
<div class = "questions">
<h2><%= @ask %></h2>
<p>- You </p>
</div>
<div class = "answers">
<h2><%= @answer %></h2>
<p>- Your coach</p>
</div>
<div class="link">
<%= link_to "Ask a new question", "/ask" %>
</div>
</div>
